export const arrowParens = 'avoid';
export const bracketSameLine = true;
export const bracketSpacing = false;
export const singleQuote = true;
export const doubleQuote = false;
export const trailingComma = 'all';
export const tabWidth = 2
export const semi = true;
